*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: sans-serif;
}

/* Navigation */

.nav{
    width: 100%;
    background-color: #2d3436;
}

ul{

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

li{
    padding: 0.6em 1.8em 0.6em 0;
    list-style-type: none;
    display: inline-block;
    color: #636e72;
}

a{
    text-decoration: none;
    color: #a8a9aa;
}

/* Main */

.main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Hero */
.hero{
    box-sizing: border-box;
    /* width: 90%; */
    margin: 3em auto 1em auto;
    height: 15em;
    background-color: #dfe6e9;
    padding: 3rem;
    border-radius: 5px;
}

/* Hero Heading */
.hero-heading{
    font-size: 3rem;
    padding: 2px 0;
    color: #2d3436;
}

/* Hero Content */
.hero-content{
    font-size: 1rem;
    padding: 2px 0 0.5em 0;
    color: #2d3436
}

/* Hero Button */

.hero-button{
    border-radius: 4px;
    padding: 1px 0;
    width: 10%;
    height: 2em;
    background-color: rgb(45, 152, 233);
}

.hero-button p{
    padding: 7px 0;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
}

/* Features */
.feature{
    border-top: 1px solid #dfe6e9;
}
.feature-title{
    margin: 2em 0 0.5em 0;
    font-size: 1.2em;
    color: #2d3436;
}

.box{
    box-sizing: border-box;
    display: inline-block;
    width: 23.2%;
    height: 20em;
    margin-right: 2%;
    padding: 0.5%;
    border: 1px solid #dfe6e9;
    border-radius: 4px;
}

.box:nth-of-type(4){
    margin-right: 0;
}

.box img{
    width: 100%;
    height: 10em;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
    color: #2d3436;
}

.content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: justify;
    color: #2d3436;
}

.box-btn{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn{
    display: inline-block;
    border-radius: 5px;
}

.buy{
    text-align: center;
    width: 42%;
    padding: 6px 5px;
    background-color: rgb(45, 152, 233);
    color: #fff;
}

.info{
    text-align: center;
    padding: 6px 5px;
    width: 42%;
    background-color: #fff;
    border: 1px solid #dfe6e9;
}

/* Footer */

.footer{
    width: 100%;
    margin-top: 4em;
    border-top: 1px solid #b2bec3;
    height: 5em;
    padding-top: 4em;
    color: #2d3436;
}

/* Responsiveness */

@media(min-width: 1793px) and (max-width: 1920px) {
    
    /* Hero Content */
    .hero-content{
        font-size: 1.2rem;
        padding: 2px 0 0.5em 0;
        color: #2d3436
    }
    
    /* Hero Button */
    
    .hero-button{
        border-radius: 4px;
        height: 2em;
        background-color: rgb(45, 152, 233);
    }
    
    .hero-button p{
        text-align: center;
        color: #fff;
        font-size: 1rem;
    }

    .box{
        height: 26em;
    }

    .box img{
        width: 100%;
        height: 15em;
    }

    .buy{
        width: 44.5%;
        padding: 10px 5px;
        font-size: 1.2em;
    }

    .info{
        padding: 10px 5px;
        width: 44.5%;
        margin-left: 1px;
        font-size: 1.2em;
    }
}

/* @media(min-width: ) */
@media(max-width: 1792px){

    .hero-content{
        font-size: 1.1rem;
        padding: 2px 0 0.5em 0;
    }

    .box{
        height: 23em;
    }

    .box img{
        height: 12em;
    }

    .buy{
        width: 44%;
        padding: 10px 5px;
        font-size: 1.2em;
    }

    .info{
        padding: 10px 5px;
        width: 44;
        margin-left: 3px;
        font-size: 1.2em;
    }
}

@media(min-width: 1411px) and (max-width: 1512px) {
    .box{
        height: 24em;
    }

    .box img{
        width: 100%;
        height: 13em;
    }

    .buy{
        width: 42%;
        font-size: 1.0em;
    }

    .info{
       width: 44%;
       margin-left: 1px;
       font-size: 1.0em;
    }
}

@media(min-width: 1325px) and (max-width: 1411px) {
    .box{
        height: 24em;
    }

    .box img{
        width: 100%;
        height: 13em;
    }

    .buy{
        width: 42%;
        font-size: 0.9rem;
    }

    .info{
        font-size: 0.9rem;
       width: 42%;
       margin-left: 3px;
    }
}

@media(min-width: 1256px) and (max-width: 1324px) {
    .box{
        height: 23em;
    }

    .box img{
        width: 100%;
        height: 12em;
    }

    .buy{
        width: 41.5%;
        font-size: 0.9rem;
    }

    .info{
        font-size: 0.9rem;
        width: 41.5%;
        margin-left: 3px;
    }
}

@media(min-width: 1230px) and (max-width: 1255px) {
    
    .hero-content{
        font-size: 1rem;
        padding: 2px 0 0.5em 0;
        color: #2d3436
    }

    .hero-button{
        width: 12%;
        padding: 6px 0;
    }
    
    .box{
        height: 21.5em;
    }

    .box img{
        width: 100%;
        height: 11em;
    }

    .title{
        font-size: 1.4rem;
    }

    .content{
        font-size: 0.8em;
    }

    .buy{
        width: 41%;
        font-size: 0.8rem;
    }

    .info{
        font-size: 0.8rem;
        width: 41%;
        margin-left: 3px;
    }
}

@media(min-width: 1067px) and (max-width: 1229px) {
    .hero-content{
        font-size: 1rem;
        padding: 2px 0 0.5em 0;
        color: #2d3436
    }

    .hero-button{
        width: 13%;
        padding: 6px 0;
    }
    
    .box{
        width: 23.1%;
        height: 20em;
        margin-right: 2%;
        padding: 0.5%;
        border: 1px solid #dfe6e9;
        border-radius: 4px;
    }

    .box img{
        width: 100%;
        height: 10em;
    }

    .buy{
        width: 40%;
        font-size: 0.8rem;
    }

    .info{
        font-size: 0.8rem;
        width: 40%;
        margin-left: 3px;
    }

    .title{
        font-size: 1.2rem;
    }

    .content{
        font-size: 0.7em;
    }
}

@media(min-width: 1025px) and (max-width: 1066px) {
    .box{
        width: 23.1%;
        height: 20em;
        margin-right: 2%;
        padding: 0.5%;
        border: 1px solid #dfe6e9;
        border-radius: 4px;
    }

    .box img{
        width: 100%;
        height: 10em;
    }
    .hero-button{
        width: 13%;
        padding: 6px 0;
    }

    .buy{
        width: 39.5%;
        font-size: 0.7rem;
    }

    .info{
        font-size: 0.7rem;
        width: 39.5%;
        margin-left: 3px;
    }

    .title{
        font-size: 1.2rem;
    }

    .content{
        font-size: 0.6rem;
    }
}

@media(min-width: 972px) and (max-width: 1024px) {
    
    .hero-button{
        width: 14%;
        padding: 6px 0;
    }
    .box{
        width: 23.1%;
        height: 18em;
    }

    .box img{
        width: 100%;
        height: 8em;
    }

    .buy{
        text-align: center;
        width: 39%;
        color: #fff;
        font-size: 0.6rem;
    }
    
    .info{
        width: 39%;
        font-size: 0.6rem;
        margin-left: 3px;
    }

    .title{
        font-size: 0.8em;
    }

    .content{
        font-size: 0.8em;
    }
}

@media(min-width: 929px) and (max-width: 971px) {
    .hero-button{
        width: 15%;
        padding: 6px 0;
    }
    
    .box{
        width: 23.1%;
        height: 16.5em;
    }

    .box img{
        width: 100%;
        height: 8em;
    }

    .buy{
        text-align: center;
        width: 38.5%;
        color: #fff;
        font-size: 0.6rem;
    }
    
    .info{
        width: 38.5%;
        font-size: 0.6rem;
        margin-left: 3px;
    }

    .title{
        font-size: 1.1em;
    }

    .content{
        font-size: 0.7em;
    }
}

@media(min-width: 895px) and (max-width: 928px) {
    .hero-button{
        width: 15%;
        padding: 6px 0;
    }

    .box{
        width: 23%;
        height: 16.5em;
    }

    .box img{
        width: 100%;
        height: 8em;
    }

    .buy{
        text-align: center;
        width: 38%;
        color: #fff;
        font-size: 0.6rem;
    }
    
    .info{
        width: 38%;
        font-size: 0.6rem;
        margin-left: 3px;
    }

    .title{
        font-size: 1em;
    }

    .content{
        font-size: 0.6em;
    }
}

@media(min-width: 800px) and (max-width: 895px) {
    .hero-content{
        font-size: 0.9em;
    }
    .hero-button{
        width: 16%;
        padding: 6px 0;
    }

    .box{
        width: 23%;
        height: 16.5em;
    }

    .box img{
        width: 100%;
        height: 8em;
    }

    .buy{
        text-align: center;
        width: 37.5%;
        color: #fff;
        font-size: 0.6rem;
    }
    
    .info{
        width: 37.5%;
        font-size: 0.6rem;
        margin-left: 3px;
    }

    .title{
        font-size: 1em;
    }

    .content{
        font-size: 0.6em;
    }
}

@media(min-width: 797px) and (max-width: 859px) {

    .hero-button{
        width: 16%;
        padding: 6px 0;
    }

    .hero-content{
        font-size: 0.8em;
    }
    .box{
        width: 23%;
        height: 16em;
    }

    .box img{
        width: 100%;
        height: 8em;
    }

    .buy{
        text-align: center;
        width: 36.5%;
        color: #fff;
        font-size: 0.5rem;
    }
    
    .info{
        width: 36.5%;
        font-size: 0.5rem;
        margin-left: 3px;
    }

    .title{
        font-size: 0.9em;
    }

    .content{
        font-size: 0.5em;
    }
}

@media(min-width: 767px) and (max-width: 796px) {
    .hero-button{
        width: 18%;
        padding: 5px 0;
    }

    .hero-content{
        font-size: 0.8em;
    }

    .box:nth-of-type(2n + 0){
        margin-right: 0;
    }

    .box{
        box-sizing: border-box;
        display: inline-block;
        width: 48.5%;
        height: 22.5em;
        margin-right: 2%;
        padding: 0.5%;
        margin-bottom: 15px;
    }

    .box img{
        width: 100%;
        height: 11em;
    }

    .title{
        font-size: 1.5rem;
        color: #2d3436;
    }
    
    .content{
        width: 60%;
    }

    .box-btn{
        width: 60%;
    }
    
    
    .buy{
        width: 42%;
    }
    
    .info{
        width: 42%;
    }

}

@media(min-width: 715px) and (max-width: 766px) {

    .hero-button{
        width: 19%;
        padding: 4px 0;
    }

    .hero-content{
        font-size: 0.8em;
    }
    .box{
        width: 48%;
        margin-right: 1.5%;
        margin-bottom: 15px;
    }
}

@media(min-width: 594px) and (max-width: 714px) {

    .hero-button{
        width: 26%;
        padding: 4px 0;
    }
    .hero-heading{
        font-size: 2.8rem;
    }
    .hero-content{
        font-size: 0.7em;
    }

    .box{
        width: 48%;
        margin-right: 1.5%;
        margin-bottom: 15px;
    }

    .buy{
        width: 40%;
    }
    
    .info{
        width: 40%;
    }

    .btn{
        font-size: 1rem;
    }
}

@media(min-width: 489px) and (max-width: 593px) {

    .hero-button{
        width: 28%;
        padding: 4px 0;
    }
    .hero-heading{
        font-size: 2.6rem;
    }
    .hero-content{
        font-size: 0.7em;
    }
    .box{
        width: 48%;
        height: 23.5em; 
        margin-right: 1.5%;
        margin-bottom: 15px;
    }
    .title{
        font-size: 1.2em;
    }
    .btn{
        font-size: 0.7rem;
        width: 38%;
    }
}

@media(min-width: 453px) and (max-width: 488px){
    .hero-button{
        width: 30%;
        padding: 3px 0;
    }
    .hero-heading{
        font-size: 2.5rem;
    }
    .hero-content{
        font-size: 0.7em;
    }

    .box{
        width: 48%;
        height: 23.5em; 
        margin-right: 1.2%;
        margin-bottom: 15px;
    }
    .title{
        font-size: 1.2em;
    }
    .btn{
        font-size: 0.7rem;
        width: 38%;
    }
}
@media(min-width: 431px) and (max-width: 452px) {

    .hero-button{
        width: 35%;
        padding: 3px 0;
    }
    .hero-heading{
        font-size: 2.1rem;
    }
    .hero-content{
        font-size: 0.7em;
    }
    .box{
        width: 48%;
        height: 24em; 
        margin-right: 1%;
        margin-bottom: 15px;
    }
    .title{
        font-size: 1.2em;
    }
    .btn{
        font-size: 0.7rem;
        width: 38%;
    }
}

@media(min-width: 426px) and (max-width: 430px) {
    .hero-button{
        width: 35%;
        padding: 3px 0;
    }
    .hero-heading{
        font-size: 2.1rem;
    }
    .hero-content{
        font-size: 0.7em;
    }

    .box{
        width: 48%;
        height: 24em; 
        margin-right: 1%;
        margin-bottom: 15px;
    }
    .title{
        font-size: 1.2em;
    }
    .btn{
        font-size: 0.7rem;
        width: 38%;
    }
}
@media(max-width: 425px) {

    
    .hero{
        box-sizing: border-box;
        /* width: 90%; */
        margin: 3em auto 1em auto;
        height: 14em;
        background-color: #dfe6e9;
        padding: 3rem;
        border-radius: 5px;
    }

/* Hero Heading */
.hero-heading{
    font-size: 1.5rem;
    padding: 2px 0;
    color: #2d3436;
}

/* Hero Content */
.hero-content{
    font-size: 0.7rem;
    padding: 2px 0 0.5em 0;
    color: #2d3436;
    text-align: justify;
}

/* Hero Button */

.hero-button{
    border-radius: 4px;
    padding: 1px 0;
    width: 40%;
    height: 2em;
    background-color: rgb(45, 152, 233);
}

.hero-button p{
    padding: 7px 0;
    /* line-height: 230%; */
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
}


    .box:nth-of-type(1){
        margin-right: 0;
    }

    .box{
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        height: 24.5em;
        margin-bottom: 10px;
    }
    
    .box img{
        width: 100%;
        height: 13em;
    }

    .buy{
        width: 43%;
    }
    
    .info{
        width: 43%;
    }

    .footer{
        width: 100%;
        margin-top: 2em;
        border-top: 1px solid #b2bec3;
        height: 4em;
        padding-top: 2em;
    }

    li{
        padding: 0.6em 1.2em 0.6em 0;
        list-style-type: none;
        display: inline-block;
        color: #636e72;
    }

}

@media(max-width: 375px) {
    li{
        padding: 0.6em 1.8em 0.6em 0;
        list-style-type: none;
        display: inline-block;
        color: #636e72;
        font-size: 0.8em;
    }

    .hero{
        box-sizing: border-box;
        /* width: 90%; */
        margin: 1.5em auto 1em auto;
        height: 10em;
        padding: 2em;
    }

/* Hero Heading */
.hero-heading{
    font-size: 1rem;
}

/* Hero Content */
.hero-content{
    font-size: 0.5rem;
}


/* Hero Button */

.hero-button{
    border-radius: 4px;
    padding: 0px 0;
    width: 40%;
    height: 2em;
    background-color: rgb(45, 152, 233);
}

.hero-button p{
    font-size: 0.8em;
}

}