*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: sans-serif;
}

/* Navigation */

.nav{
    width: 100%;
    background-color: #2d3436;
}

ul{

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

li{
    padding: 0.6em 1.8em 0.6em 0;
    list-style-type: none;
    display: inline-block;
    color: #636e72;
}

a{
    text-decoration: none;
    color: #a8a9aa;
}

/* Main */

.main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Hero */
.hero{
    box-sizing: border-box;
    /* width: 90%; */
    margin: 3em auto 1em auto;
    height: 15em;
    background-color: #dfe6e9;
    padding: 3rem;
    border-radius: 5px;
}

/* Hero Heading */
.hero-heading{
    font-size: 3rem;
    padding: 2px 0;
    color: #2d3436;
}

/* Hero Content */
.hero-content{
    font-size: 1rem;
    padding: 2px 0 0.5em 0;
    color: #2d3436
}

/* Hero Button */

.hero-button{
    border-radius: 4px;
    padding: 1px 0;
    width: 10%;
    height: 2em;
    background-color: rgb(45, 152, 233);
}

.hero-button p{
    padding: 7px 0;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
}

/* Features */
.feature{
    border-top: 1px solid #dfe6e9;
}
.feature-title{
    margin: 2em 0 0.5em 0;
    font-size: 1.2em;
    color: #2d3436;
}

.box{
    box-sizing: border-box;
    display: inline-block;
    width: 23.2%;
    height: 20em;
    margin-right: 2%;
    padding: 0.5%;
    border: 1px solid #dfe6e9;
    border-radius: 4px;
}

.box:nth-of-type(4){
    margin-right: 0;
}

.box img{
    width: 100%;
    height: 10em;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
    color: #2d3436;
}

.content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: justify;
    color: #2d3436;
}

.box-btn{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn{
    display: inline-block;
    border-radius: 5px;
}

.buy{
    text-align: center;
    width: 42%;
    padding: 6px 5px;
    background-color: rgb(45, 152, 233);
    color: #fff;
}

.info{
    text-align: center;
    padding: 6px 5px;
    width: 42%;
    background-color: #fff;
    border: 1px solid #dfe6e9;
}

/* Footer */

.footer{
    width: 100%;
    margin-top: 4em;
    border-top: 1px solid #b2bec3;
    height: 5em;
    padding-top: 4em;
    color: #2d3436;
}

/* Responsiveness */

@media(max-width: 1920px) {
    .box{
        height: 26em;
    }

    .box img{
        width: 100%;
        height: 15em;
    }

    .buy{
        width: 44%;
    }

    .info{
       width: 45%;
       margin-left: 1px;
    }


}

@media(max-width: 1440px) {
    .box{
        height: 24em;
    }

    .box img{
        width: 100%;
        height: 13em;
    }

    .buy{
        width: 42%;
    }

    .info{
       width: 44%;
       margin-left: 1px;
    }
}

@media(max-width: 1024px) {
    .box{
        width: 23.1%;
        height: 18em;
    }

    .box img{
        width: 100%;
        height: 8em;
    }

    .buy{
        text-align: center;
        width: 40%;
        color: #fff;
        font-size: 0.6rem;
    }
    
    .info{
        width: 40%;
        font-size: 0.6rem;
    }

    .title{
        font-size: 1em;
    }

    .content{
        font-size: 1em;
    }
}

@media(max-width: 768px) {
    .box:nth-of-type(2n + 0){
        margin-right: 0;
    }

    .box{
        box-sizing: border-box;
        display: inline-block;
        width: 48.5%;
        height: 21em;
        margin-right: 2%;
        padding: 0.5%;
        margin-bottom: 15px;
    }

    .box img{
        width: 100%;
        height: 11em;
    }

    .title{
        font-size: 1.5rem;
        color: #2d3436;
    }
    
    .content{
        width: 60%;
    }

    .box-btn{
        width: 60%;
    }
    
    
    .buy{
        width: 42%;
    }
    
    .info{
        width: 42%;
    }

}

@media(max-width: 425px) {
    .hero{
        box-sizing: border-box;
        /* width: 90%; */
        margin: 3em auto 1em auto;
        height: 14em;
        background-color: #dfe6e9;
        padding: 3rem;
        border-radius: 5px;
    }

/* Hero Heading */
.hero-heading{
    font-size: 1.5rem;
    padding: 2px 0;
    color: #2d3436;
}

/* Hero Content */
.hero-content{
    font-size: 0.8rem;
    padding: 4px 0 0.5em 0;
    color: #2d3436;
    text-align: justify;
}

/* Hero Button */

.hero-button{
    border-radius: 4px;
    padding: 1px 0;
    width: 40%;
    height: 2em;
    background-color: rgb(45, 152, 233);
}

.hero-button p{
    padding: 7px 0;
    /* line-height: 230%; */
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
}


    .box:nth-of-type(1){
        margin-right: 0;
    }

    .box{
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        height: 22em;
    }
    
    .box img{
        width: 100%;
        height: 13em;
    }

    .buy{
        width: 43%;
    }
    
    .info{
        width: 43%;
    }

    .footer{
        width: 100%;
        margin-top: 2em;
        border-top: 1px solid #b2bec3;
        height: 4em;
        padding-top: 2em;
    }

}

@media(max-width: 375px) {
    li{
        padding: 0.6em 1.8em 0.6em 0;
        list-style-type: none;
        display: inline-block;
        color: #636e72;
        font-size: 0.5em;
    }

    .hero{
        box-sizing: border-box;
        /* width: 90%; */
        margin: 2em auto 1em auto;
        height: 12em;
    }

/* Hero Heading */
.hero-heading{
    font-size: 1rem;
}

/* Hero Content */
.hero-content{
    font-size: 0.7rem;
}

}